# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xcode
#cpp-pthread.xcodeproj/
DerivedData/

# autoconf
config.h
autom4te.cache
config.status
config.log
configure
Makefile

# layout
lib/
